body {
    background-color: #eef5fb;
}

.view {
    background: url("Images/theme.jpg")no-repeat center center;
    background-size: cover;
    height: 600px;
}

.navbar {
    background-color: transparent;
}

.navbar {
    position: relative;
}

.navbar a{
    font-size: 24px;
    font-weight: 700px;
    
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px; }

.text-center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

html,
body
 {
  height: 100%;
}

.marginTB {
    margin: 100px auto;

}

hr.dashTop {
    border-top: 1px dashed #0d0d0d;
    border-bottom: 1px dashed #0d0d0d;
    margin-top: 100px;
}

hr.dashBottom {
    border-top: 1px dashed #0d0d0d;
    border-bottom: 1px dashed #0d0d0d;
}

.contactB{
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.contactB span{
    cursor: pointer;
    display: inline-block;
    position: relative;
     transition: 0.5s;
}

.contactB span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.contactB:hover span {
    padding-right: 25px;
}

.contactB:hover span::after{
    opacity: 1;
    right: 0;
}

.view h2 {
    font-size: 65px;
    font-family: merienda;
    margin: 0px;
}

.view h2::before{
    content: 'Web Designer/Developer';
    animation: animate 10s infinite;
}

@keyframes animate{
    0%{
        font-size: 75px;
        opacity: 1;
    }
    25%{
        font-size: 55px;
        opacity: 0;
    }
  
    50%{
        font-size: 75px;
        opacity: 1;
        content: 'Based in Khyber PakhtunKhwa';
    }
    65%{
        font-size: 55px;
        opacity: 0;
    }
    75%{
        
        font-size: 75px;
        opacity: 1;
        content: 'PAKISTAN';
    }
    100%{
        font-size: 55px;
        opacity: 0;
    }





}

